# CluedIn

[cluedin](https://pypi.org/project/cluedin/) is a Python client for [CluedIn](https://www.cluedin.com/) API. It can help you with the following:

* getting JWT access tokens to CluedIn
* calling CluedIn REST API
* calling CluedIn GraphQL API

The use is pretty simple. First, install it from [PyPi](https://pypi.org/project/cluedin/):

In [ ]:
%pip install cluedin==2.0.0rc1
%pip install numpy
%pip install pandas

Next, you will need to obtain an access token:

In [ ]:
import cluedin
from cluedin import Context

context_data = {
    "protocol": "http", # default - `https`
    "domain": "cluedin.local:8888",
    "org_name": "foobar",
    "user_email": "admin@foobar.com",
    "user_password": "Foobar23!"
}

context = Context.from_dict(context_data)
context.get_token()

context.access_token

Run a GraphQL query:

In [7]:
query = """
    query searchEntities($cursor: PagingCursor, $query: String, $pageSize: Int) {
      search(query: $query, sort: DATE, cursor: $cursor, pageSize: $pageSize) {
        totalResults
        cursor
        entries {
          id
          name
          entityType
        }
      }
    }
"""

variables = {
    "query": "entityType:/Duck",
    "pageSize": 10_000
}

response = cluedin.gql.gql(context, query, variables)

response

{'data': {'search': {'totalResults': 11,
   'cursor': 'ewAiAFAAYQBnAGUAIgA6ADEALAAiAFAAYQBnAGUAUwBpAHoAZQAiADoAMQAwADAAMAAwACwAIgBDAG8AbQBwAG8AcwBpAHQAZQBBAGYAdABlAHIAIgA6AHsAfQAsACIAUwBlAGEAcgBjAGgAQQBmAHQAZQByACIAOgBbADEANgA4ADMANwAxADgAOQAwADEANwAyADcALAAtADkAMgAyADMAMwA3ADIAMAAzADYAOAA1ADQANwA3ADUAOAAwADgALAAtADkAMgAyADMAMwA3ADIAMAAzADYAOAA1ADQANwA3ADUAOAAwADgAXQB9AA==',
   'entries': [{'id': '5ed3f80c-6620-5fd1-9e64-76ddce0bf36a',
     'name': 'Fergus McDuck',
     'entityType': '/Duck'},
    {'id': '2be2108a-d987-5fd4-a5e0-117bf7c3ed25',
     'name': 'Angus McDuck',
     'entityType': '/Duck'},
    {'id': '1ea867c9-5894-5652-a3e7-0bb883dc948f',
     'name': 'Jake McDuck',
     'entityType': '/Duck'},
    {'id': '555bcd7e-e7ad-533c-b643-7e7d526e69e1',
     'name': 'Matilda McDuck',
     'entityType': '/Duck'},
    {'id': '8dc4adf9-ffa1-55d1-9300-1e8f0294c7b0',
     'name': 'Della Duck',
     'entityType': '/Duck'},
    {'id': 'a7234e57-419f-5e49-bf51-75d6b1dfa808',
     'name': 'Hortense McDuck',
     'entityType': '/Duck'},
    {'id': 'c6ae727a-6a76-5443-a561-c2d24fb90747',
     'name': 'Huey Duck',
     'entityType': '/Duck'},
    {'id': 'daf57f4d-a4df-5404-b056-a08d87f29c92',
     'name': 'Donald Duck',
     'entityType': '/Duck'},
    {'id': '2c0e947d-4c0f-5367-a3c2-1378057510a8',
     'name': 'Dewey Duck',
     'entityType': '/Duck'},
    {'id': 'df2e9243-e447-59f6-960f-683edd99bcbd',
     'name': 'Louie Duck',
     'entityType': '/Duck'},
    {'id': 'd04e3a89-aed7-5cb2-b630-e4ac06d038b4',
     'name': 'Scrooge McDuck',
     'entityType': '/Duck'}]}}}

Get paged results:

In [8]:
import numpy as np
import pandas as pd

query = """
    query searchEntities($cursor: PagingCursor, $query: String, $pageSize: Int) {
      search(query: $query, sort: DATE, cursor: $cursor, pageSize: $pageSize) {
        totalResults
        cursor
        entries {
          id
          name
          entityType
        }
      }
    }
"""

variables = {
    "query": "entityType:/Duck",
    "pageSize": 10_000
}

entries = np.array([x for x in cluedin.gql.entries(context, query, variables)])

df = pd.DataFrame(entries.tolist(), columns=list(entries[0].keys()))
df

                                      id             name entityType
0   5ed3f80c-6620-5fd1-9e64-76ddce0bf36a    Fergus McDuck      /Duck
1   2be2108a-d987-5fd4-a5e0-117bf7c3ed25     Angus McDuck      /Duck
2   1ea867c9-5894-5652-a3e7-0bb883dc948f      Jake McDuck      /Duck
3   555bcd7e-e7ad-533c-b643-7e7d526e69e1   Matilda McDuck      /Duck
4   8dc4adf9-ffa1-55d1-9300-1e8f0294c7b0       Della Duck      /Duck
5   a7234e57-419f-5e49-bf51-75d6b1dfa808  Hortense McDuck      /Duck
6   c6ae727a-6a76-5443-a561-c2d24fb90747        Huey Duck      /Duck
7   daf57f4d-a4df-5404-b056-a08d87f29c92      Donald Duck      /Duck
8   2c0e947d-4c0f-5367-a3c2-1378057510a8       Dewey Duck      /Duck
9   df2e9243-e447-59f6-960f-683edd99bcbd       Louie Duck      /Duck
10  d04e3a89-aed7-5cb2-b630-e4ac06d038b4   Scrooge McDuck      /Duck